In [18]:
import numpy as np
import pandas as pd

data = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")


psgcol=test["PassengerId"]
psgIds = test["PassengerId"]
def preprocess(data):
    
    columns = ["SibSp", "Age","Fare"]
    columns2 =[ "Embarked","Sex","Cabin"]
    for col in columns:
        data[col].fillna(data[col].median(), inplace=True)#filing the nan values by the average of data in the column
    for col in columns2:
        data[col].fillna("Not available", inplace= True)#filing the nan values by the "Not available" value 
  
    return data

#df['NewCol1'] = 'A'
# Add another new column
#df['NewCol2'] = [1, 2, 3, 4]

# Print the result:
#display(df)
data = preprocess(data)
data = data.drop(["PassengerId","Ticket","Name"],axis=1)#clean data by dropping colums of data that i think they will not be useful in predicting who will be alive
test = preprocess(test)
test = test.drop(["Ticket","Name"],axis=1)
data.Cabin = (data.Cabin).astype(str).str.slice(0,1)
test.Cabin = (test.Cabin).astype(str).str.slice(0,1)
data.head(5)

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Cabin Embarked
0         0       3    male  22.0      1      0   7.2500     N        S
1         1       1  female  38.0      1      0  71.2833     C        C
2         1       3  female  26.0      0      0   7.9250     N        S
3         1       1  female  35.0      1      0  53.1000     C        S
4         0       3    male  35.0      0      0   8.0500     N        S

in the code above, i created a function called preprocess to clean data, where i replaced any "nan" value with the median if it's a number or with not available if it's a string, then i dropped the columns: "PassengerId", "Name" and "Ticket" as i think they cannot help to predict who survived and who did not as these are just names and ids and i kept cabin as they represent location of passengers and will help in prediction, age , Pclass , fare, Embarked, Parch, Sex and SibSp as i think they will help in predicting who survived

In [1]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
columns3 = [ "Embarked","Sex"]
#Label Encoding for handling categorical variables:Embarked and Sex to transform them to numerical values that machine understands.Each label is assigned a unique integer based on alphabetical ordering.
for col in columns3:
    data[col] = le.fit_transform(data[col])
    test[col] = le.transform(test[col])
    print(le.classes_)
data.Cabin = le.fit_transform(data.Cabin)
test.Cabin = le.transform(test.Cabin)
data.head(5)

NameError: name 'data' is not defined

here i encoded the columns that had strings to transform them to numbers that the machine understands

In [20]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
y= data["Survived"]
X= data.drop("Survived", axis=1)
X_train, X_val, y_train, y_val = train_test_split(X,y,test_size=0.2,random_state=42)

here i imported logistic regression model to train data and i validated my model

In [21]:
R=LogisticRegression(random_state=0,max_iter=1000).fit(X_train,y_train)

here i used the LogisticRegression model in order to fit trained data and then predict test data

In [22]:
pred=R.predict(X_val)
from sklearn.metrics import accuracy_score
accuracy_score(y_val,pred)

0.8212290502793296

here i calculated the score of accuracy of my model to validate it

In [23]:
test2=test.drop("PassengerId", axis=1)
print(test2)
mypred= R.predict(test2)

     Pclass  Sex   Age  SibSp  Parch      Fare  Cabin  Embarked
0         3    1  34.5      0      0    7.8292      7         2
1         3    0  47.0      1      0    7.0000      7         3
2         2    1  62.0      0      0    9.6875      7         2
3         3    1  27.0      0      0    8.6625      7         3
4         3    0  22.0      1      1   12.2875      7         3
..      ...  ...   ...    ...    ...       ...    ...       ...
413       3    1  27.0      0      0    8.0500      7         3
414       1    0  39.0      0      0  108.9000      2         0
415       3    1  38.5      0      0    7.2500      7         3
416       3    1  27.0      0      0    8.0500      7         3
417       3    1  27.0      1      1   22.3583      7         0

[418 rows x 8 columns]

here i used my model to predict the survived column in test data

In [24]:
df= pd.DataFrame({"PassengerId":psgIds.values,
                 "Survived":mypred,})

i added the 2 columns that will be in my submission file to a data frame

In [25]:
#f = open("submissions.csv", "x")
df.to_csv("submissions.csv",index=False)

and added the data frame to a file called submission to test my result